html {
  font-size: 20px;
  background: #202428;
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace
}
::placeholder, input, #game-select {
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
a {
  color: #FFFFFF;
}
#sclp-tower-search, #sclp-player-search, #search-button, #checklist-player, #game-select {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 8px;
  height: 36px;
  font-size: 20px;
  background: #505A64;
}
#info-button {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background: #00000090;
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace
}
#seamless-button {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace
}
#item {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #101214;
}
#big {
  font-size: 30px;
}
#small {
  font-size: 15px;
}

#navigation {
  background: #505A64;
  width: 100%;
  margin: 0px;
}
#tower-lookup-page, #leaderboard-page {
  display: flex;
}
#left, #right {
  flex: 50%;
  padding: 5px;
}
#extra-data {
  position: fixed;
}
#extra-data, #player-data {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 8px;
  font-size: 20px;
  background: #101214;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#Insane {
  color: #0000FF;
}
#Extreme {
  color: #0287FF;
}
#Terrifying {
  color: #00FFFF;
}
#Catastrophic {
  color: #FFFFFF;
}
#Horrific {
  color: #ECB2FA;
}
#Unreal {
  color: #521989;
}
#Nil {
  color: #797981;
}

#itemInsane {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #000080;
}
#itemExtreme {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #004080;
}
#itemTerrifying {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #008080;
}
#itemCatastrophic {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #808080;
}
#itemHorrific {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #706080;
}
#itemUnreal {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #200040;
}
#itemNil {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #404040;
}
#itemCompleted {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #408040;
}
#itemUncompleted {
  border-radius: 8px;
  padding: 6px;
  font-size: 20px;
  background: #804040;
}

#owner {
  color: #6AC;
}
#co-owner {
  color: #48A;
}
#manager {
  color: #C6A;
}
#trial {
  color: #CA6;
}
#former {
  color: #6C6;
}
