* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    background: #161820;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1;
}

html, body {
    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;
}

::placeholder, input, #game-select {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

a {
    color: #FFFFFF;
}

button {
    cursor: pointer;
}

span {
    display: inline-block;
    width: 3rem;
    text-align: right;
    padding-right: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#tower-lookup-page, #leaderboard-page {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: calc(100% - 40px);
}

#sclp-tower-search, #sclp-player-search, #search-button, #checklist-player, #game-select {
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 8px;
    height: 36px;
    font-size: 20px;
    background: #505A64;
    padding: 2px;
}

#info-button {
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    background: #00000090;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

.seamless-button {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
}

#tower-button, #player-button {
    font-size: 20px;
    border-radius: 8px;
    background: #00000000;
    color: #FFFFFF;
    border: none;
    font-family: "Montserrat", sans-serif;
}

#player-button {
    width: 15em;
    text-align: left;
}

#tower-button-crossed {
    font-size: 20px;
    border-radius: 8px;
    background: #00000000;
    color: #FFFFFF20;
    border: none;
    font-family: "Montserrat", sans-serif;
}

#tower-button:hover, #tower-button-crossed:hover, #player-button:hover {
    background: #363840;
}

.difficulty-display {
    width: 8em;
    text-align: right;
}

#item {
    border-radius: 8px;
    padding: 6px;
    font-size: 20px;
    background: #00000000;
}

#big {
    font-size: 30px;
}

#small {
    font-size: 15px;
}

#searchmenu, #leaderboard, #player-data {
    overflow-y: scroll;
    flex-grow: 1;
}

#navigation {
    background: #505A64;
    width: 100%;
    margin-top: 0px;
}

#left {
    flex: 45%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#right {
    flex: 55%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#extra-data, #player-data {
    width: 100%;
    flex-grow: 1;
    border-radius: 8px;
    padding: 8px;
    font-size: 20px;
    background: #101214;
}

#player-data {
    overflow-y: scroll;
}

#options {
    display: inline;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Insane {
    color: #003FFF;
}

.Extreme {
    color: #009FFF;
}

.Terrifying {
    color: #00FFFF;
}

.Catastrophic {
    color: #FFFFFF;
}

.Horrific {
    color: #ECB2FA;
}

.Unreal {
    color: #9F3FFF;
}

.Nil {
    color: #797981;
}

.owner {
    color: #1abc9c;
}

.co-owner {
    color: #0f806a;
}

.developers {
    color: #315528;
}

.managers {
    color: #9b59b6;
}

.trial-staff {
    color: #f5e5a4;
}

.former-staff {
    color: #49559e;
}

@media (max-width: 768px) {
    #left, #right {
        min-width: 0;
    }

    #sclp-tower-search, #sclp-player-search, #checklist-player, #game-select {
        font-size: 0.8em;
        height: 1.5em;
    }

    #tower-button, #player-button, #tower-button-crossed {
        font-size: 0.8em;
    }

    .seamless-button {
        font-size: 0.8em;
    }

    #big {
        font-size: 1.2em;
    }

    #small {
        font-size: 0.6em;
    }

    #item {
        font-size: 0.8em;
        padding: 0.2em;
    }

    input[type=checkbox] {
        width: 0.8em;
        height: 0.8em;
    }
}

#menu-page {
    overflow: scroll;
}