<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCLP Official</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="main">
        <div id="navigation"></div>
        <div id="home-page">
            <h1>Soul Crushing Leaderboard Project</h1>
            <h2>
                <a href="https://discord.gg/t9crQndHyn" target="_blank">Join the Discord Server to submit completions</a>
            </h2>
            <div id="credits"></div>
        </div>
        <div id="towers-page">
            <div id="left">
                <div id="searchmenu"></div>
            </div>
            <div id="right">
                <div id="options" oninput="towers=search($('#sclp-tower-search').val());list_towers();">
                    <h1>The List</h1>
                    <input type="text" id="sclp-tower-search" placeholder="Search...">
                    <br><br>
                    <input type="checkbox" id="diff-8" checked>Insane
                    <input type="checkbox" id="diff-9" checked>Extreme
                    <input type="checkbox" id="diff-10" checked>Terrifying
                    <input type="checkbox" id="diff-11" checked>Catastrophic
                    <input type="checkbox" id="diff-12" checked>Horrific
                    <input type="checkbox" id="diff-13" checked>Unreal
                    <br>
                    Game: <select name="game-select" id="game-select"></select>
                    <input type="checkbox" id="color-checklist">Color by checklist?
                    <input type="text" id="checklist-player" placeholder="Player...">
                    <input type="checkbox" id="extra-tower-info">Show extra info
                </div>
                <div id="extra-data">Click on a tower to see extra info here</div>
            </div>
        </div>
        <div id="leaderboard-page">
            <div id="left">
                <p id="leaderboard"></p>
            </div>
            <div id="right">
                <div id="leaderboard-header">
                    <h1>The Top Obbyists</h1>
                    <input type="text" id="sclp-player-search" placeholder="Search...">
                    <input type="checkbox" id="extra-player-info" onclick="completions=psearch($('#sclp-player-search').val());list_players();">Show extra info
                </div>
                <div id="player-data">Click on a player to see extra info here</div>
            </div>
        </div>
    </div>

    <script>
        all_completions = {{ all_completions | tojson }};
        all_towers = {{ all_towers | tojson }};
        all_games = {{ all_games | tojson }};
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/towermanager.js"></script>
</body>
</html>